h1{
  font-size: 35px;
}

h2{
  font-size: 28px;
}

pre{
  margin-bottom: 0;
}

.title {
  padding-top: 3rem;
  text-align: center;
}

.bmvc_label{
  text-align: center;
  font-size: 20px;
}

.authors{
  font-size: 20px;
  text-align: center;
}

.center_video{
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 100%;
  height: auto;
}